body {
    margin: 0 10%;
    background-color: bisque;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    min-height: 300px;
    font-size: 120px;
    text-align: left;
}

.content {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

p.content {
    width: 60%;
}

li {
    list-style: none;
    padding: 15px 0px;
}

li a {
    text-decoration: none;
    color: olive;
    font-weight: bold;
}

li a:hover {
    color: steelblue;
}

.container {
    border: 2px solid black;
    padding: 15px;
    margin: 10px auto;
    background-color: blanchedalmond;
    font-size: 30px;
    margin-bottom: 100px;
}